@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: none;
}
.banner-description{
    color: #727272;
    font-size: 18px;
}
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: black;
}
.nav-title{
    color: var(--Dark-02, #424242);
    font-size: 2.8rem;
    font-weight: 700;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 100px auto;
    margin-left: 100px;
}
.team-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 45px;
}
.quick-list{
    font-weight: 500;
}
.features{
    color: #FF900E;
    font-weight: 700;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-size: 2.8rem;
    padding: 30px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top:10px ;
    margin-bottom: 10px;
}
.Sponsors{
    text-align: center;
    margin-top: 150px;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;
}
.facts{
    text-align: center;
    margin-top: 150px;
}
.card{
    border: 1px solid black;
    box-shadow: 5px 5px 20px;
}
.card:hover{
    color: bisque;
}
.feature-2{
    display: flex;
    margin-top: 130px;
    gap: 150px;
}
.feature-2 .feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card-2{
    border-radius: 8px;
    background: #FFF;
    padding: 6px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img{
    height: 90%;
    margin-left: 90px;
}
.ten{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 90px;
}
.ten h2{
    font-size: 3rem;
    margin: 0;
}
.ten p{
    font-size: 1.5rem;
}
.feature-title{
    font-size: 30px;
}
.feature-content{
    margin-top: -40px;
}



@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-container,
    .facts-card-container,
    .sponsors-img-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
}


@media screen and (min-width: 577px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav,
    .team-container,
    .sponsors-img-container{
        flex-direction: column;
    }
    
}